.button {
  @include default-link;
  display: block;
  border: none;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: $white;

  &--rounded {
    padding: 15px;
    border: 3px solid $white;
    border-radius: 30px;
    line-height: 18px;
    background-color: transparent;

    @media (min-width: $desktop-width) {
      font-size: 21px;
    }
  }

  &--rounded:hover {
    color: $pink;
    background-color: $white;
  }

  &--rounded:active {
    color: rgba($pink, 0.3);
  }

  &--success {
    padding: 16px 15px;
    width: 100%;
    border-radius: 2px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    background-color: $green;
  }

  &--success:hover {
    background-color: $darkgreen;
  }

  &--success:active {
    color: rgba($white, 0.3);
  }

  &[disabled] {
    background-color: $lightgray;
  }

  &--no-accent {
    font-size: 18px;
    line-height: 1;
    border-color: rgba($darkblue, 0.1);
    color: rgba($darkblue, 0.1);
  }

  &--no-accent:hover {
    border-color: rgba($darkblue, 0.3);
    color: rgba($darkblue, 0.3);
  }

  &--no-accent:active {
    color: rgba($white, 0.3);
    background-color: rgba($darkblue, 0.3);
    border-color: rgba($darkblue, 0);
  }

  &--accent {
    font-size: 18px;
    line-height: 1;
    border-color: $pink;
    color: $pink;
  }

  &--accent:hover {
    color: $white;
    background-color: $pink;
  }

  &--accent:active {
    color: rgba($white, 0.3);
    background-color: $pink;
  }
}
