.form-photo {
  padding: 20px 20px 29px;
  margin: 0 auto;
  max-width: 940px;
  background-color: $silver;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      "image controls"
      "image buttons";
    grid-column-gap: 47px;
    grid-row-gap: 27px;
    padding-top: 40px;
    padding-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 300px 410px;
    grid-column-gap: 90px;
    grid-row-gap: 27px;
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 80px;
    margin-bottom: 28px;
  }
}

.form-photo__image-label {
  display: block;
  width: 280px;
  height: 374px;
  cursor: pointer;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    grid-area: image;
    width: 300px;
    height: 400px;
    margin-top: 16px;
  }

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form-photo__filter-toggle {

  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-photo__controls {
  grid-area: controls;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.form-photo__buttons {
  grid-area: buttons;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 44px;
    align-items: flex-start;
    padding-top: 75px;
  }
}

.form-photo__button {
  margin-bottom: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    width: 260px;
  }
}
