.icon-list {
  @include default-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.icon-list__link {
  display: flex;
  margin-top: auto;
  width: 47px;
  height: 56px;
}

.icon-list__icon {
  display: block;
  margin-top: auto;
}
