.icon-list {
  @include default-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

.icon-list__link {
  @include default-link;
  display: block;
  margin-top: auto;
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center;

  &--apple {
    background-image: url('../img/icon-apple-logo.svg');
  }

  &--android {
    background-image: url('../img/icon-android-logo.svg');
  }

  &--windows {
    background-image: url('../img/icon-microsoft-logo.svg');
  }
}
