.logo {
  display: block;
  width: 74px;
  height: 23px;
  color: $white;

  &--accent {
    width: 145px;
    height: 40px;
    color: $darkblue;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
  }

  &[href]:hover {
    color: $pink;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.logo__logo-mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
