.slider {
  position: relative;
}

.slider__list {
  position: relative;
}

.slider__item {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in;

  &--current {
    display: block;
    opacity: 1;
  }
}

.slider__slider-nav {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    top: 50%;
    transform: translateY(25%);
    left: 0;
    right: 0;
  }
}

.slider__slider-button {
  position: relative;
  height: 41px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 27px;
    height: 27px;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid rgba($darkblue, 0.3);
    border-right: 2px solid rgba($darkblue, 0.3);
  }

  &:hover::before {
    border-top-color: rgba($darkblue, 0.6);
    border-right-color: rgba($darkblue, 0.6);
  }

  &:active::before {
    border-top-color: rgba($darkblue, 0.1);
    border-right-color: rgba($darkblue, 0.1);
  }

  &--previous::before {
    left: 7px;
    transform: translateY(-50%) rotate(225deg);
  }

  &--next::before {
    right: 7px;
    transform: translateY(-50%) rotate(45deg);
  }
}
