.social-list {
  @include default-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 178px;

  @media (min-width: $desktop-width) {
    width: 172px;
  }
}

.social-list__link {
  @include default-link;
  display: block;
  width: 54px;
  height: 54px;
  border: 3px solid rgba($darkblue, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    border-color: $darkblue;
  }

  &:active {
    opacity: 0.3;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
