.tariffs {
  background-color: $silver;
  background-image: linear-gradient(176deg, white 10%, transparent 10%);
  padding-top: 134px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(176deg, white 13%, transparent 13%);
    padding-top: 110px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(176deg, white 15%, transparent 15%);
    padding-top: 155px;
    padding-bottom: 95px;
  }
}

.tariffs__slider-toggles {
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-only-width) {
  .tariffs__slider {
    margin: 0 auto;
    width: 320px;
    overflow: hidden;
  }

  .tariffs__tariffs-table {
    transform: translateX(-30.8%);
  }
}

.tariffs__tariffs-table {
  margin: 0 auto;
  width: 840px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
