@mixin default-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin default-link {
  text-decoration: none;
  color: inherit;
}

@mixin default-paragraph {
  padding: 0;
  margin: 0;
}

@mixin wrapper {
  margin: 0 auto;
  min-width: $mobile-width;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
