

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

$mobile-only-width: ($tablet-width - 1);
$exclude-desktop-width: ($desktop-width - 1);

$white: #ffffff;
$darkblue: #283645;
$pink: #d22856;
$black: #000000;
$green: #2aab6d;
$lightgray: #e5e5e5;
$silver: #f2f2f2;
